@charset "UTF-8";

body {
	font-family: sans-serif;
}

h1 {
	color: FireBrick
}

h2 {
	color: FireBrick
}

.nav {
	border: 1px solid;
	background-color: FireBrick;
	color: white;
}

.nav ul {
	list-style-type: none;
}

.nav li {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}

.nav li a {
	color: white;
}

#whoswho div {
	padding-top: 10px;
}

#members {
	display: flex
}

#members #content {
	flex: 6;
}

#members #menu {
	flex: 4;
}

#members #menu ul {
	list-style-type: none;
}

div {
	clear: both;
}